**
!pyproject.toml
!README.md
!LICENSE
!src/
!src/aiks/
!src/aiks/*.py
!src/aiks/engines/
!src/aiks/engines/*.py
!infrastructure/
!infrastructure/aks-automatic/
!infrastructure/aks-automatic/bicep/
!infrastructure/aks-automatic/bicep/**
!infrastructure/aks-automatic/terraform/
!infrastructure/aks-automatic/terraform/environment/
!infrastructure/aks-automatic/terraform/environment/*.tf
!infrastructure/aks-automatic/terraform/environment/.terraform.lock.hcl
!infrastructure/aks-automatic/terraform/bootstrap/
!infrastructure/aks-automatic/terraform/bootstrap/main.tf
!infrastructure/aks-automatic/terraform/bootstrap/.terraform.lock.hcl
!infrastructure/aks-automatic/terraform/modules/
!infrastructure/aks-automatic/terraform/modules/cluster/
!infrastructure/aks-automatic/terraform/modules/cluster/main.tf
!infrastructure/aks-automatic/charts/
!infrastructure/aks-automatic/charts/readiness/
!infrastructure/aks-automatic/charts/readiness/**
.git
.venv
.aiks
**/.terraform
**/__pycache__
**/*.pyc
**/*.tfstate*
**/*.tfplan
**/.env*